.characters__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #e2e3e4;
  margin-bottom: 1rem;
}

.pagination__wrapper {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}
