@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  color: white;
  background-color: #112d49;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10px;
}

.wrapper-404 {
  display: flex;
  flex-direction: column;
}

form {
  max-width: 45rem;
  margin: 0 auto;
}

input,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.1rem solid white;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

label {
  line-height: 2rem;
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 200;
}

button[type='submit'],
input[type='submit'] {
  background: #eec922e9;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
}

input[type='submit']:hover {
  cursor: pointer;
  background: #bf6516;
}

.two-columns {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.column {
  width: 50%;
}

.column select {
  width: 100%;
}

input[type='checkbox'] {
  width: auto;
}

input[type='file'] {
  width: auto;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.invalid-feedback {
  background: rgba(240, 243, 167, 0.914);
  color: #000;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  line-height: 2.5rem;
  border-radius: 0.5rem;
}

.wrapper-home {
  margin: auto;
  width: 40rem;
  font-size: 1.6rem;
}

.wrapper-data {
  display: flex;
  flex-direction: column;
  width: 35rem;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  border: #bf6516 solid 0.2rem;
}

.form-title {
  text-align: center;
  background-color: #bf6516;
  width: auto;
}

.data-line {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.line-title {
  background-color: #bf6516;
  padding: 0.5rem;
}
